<div class="cart_title">Ваша корзина</div>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line">

</table>

<%= button_to 'К заказу', new_order_path, method: :get, class: 'button' %>
<%= button_to 'Очистить корзину', cart, method: :delete,
               data: {confirm: 'Вы уверены что хотите удалить все из вашей корзины?'}, class: 'button' %>